* {
  box-sizing: border-box;
}


.bannerCard {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #fff;
  border-radius: 15px;
  color: #000;
  padding: 10px 35px;
  margin-right: 40px;

  text-decoration: none;
  z-index: 1;
}

.bannerCard.HomePage {
  margin-bottom: 40px;
  margin-right: 0px;
}

.positionRelactive {
  position: relative;
}
