.body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.body::after {
  content: " ";
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("/images/pizza-01.jpg");

  filter: opacity(0.2);
}

.formsignin {
  width: 320px;
  padding: 15px;
  margin: auto;
}
