
.listItem {
  font-weight: 300;
  line-height: 1.2;
  font-size: 4.5rem;
}

.itemLink {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 768px) {
  .listItem {
    font-size: 2rem;
    text-align: center;
  }
}