.pizzaContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #ffe728;
  height: 12px;
}

.formsignin {
  width: 100%;
  padding: 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .formsignin {
    width: 320px;
  }
}
