.pizzaContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #ffe728;
  height: 60px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .pizzaContainer img {
    height: auto;
    max-width: 300px;
    width: 100%;
  }
}