.bannerContainer {
  background-image: url(../../../public/images/background.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: auto;
  width: 100%;

  position: sticky;
}

@media all and (min-width: 768px) {
  .bannerContainer {
    height: 100vh;
  }
}

.bannerContainer::before {
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.loginButton {
  color: #fff;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  text-decoration: none;
  z-index: 1;
}

.loginButton:hover {
  text-decoration: underline;
}

.logo {
  width: 290px;
}

.logoImage {
  position: absolute;
}
/* 
.navbar {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.navbarList {
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  z-index: 1;
}

@media (min-width: 768px) {
  .navbarList {
    display: flex;
  }
}

.navbarListItem {
  color: white;
}

.navbarListItemLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbarListItemLink:hover {
  color: #ffe728;
}

.navbarListItem:hover > a {
  margin-top: -2px;
} */

.linkActive > a {
  margin-top: -2px;
  color: #ffe728;
}

.containerLogo {
  background-image: url(../../../public/images/background.jpg);
  background-position: center;
  box-shadow: 0 3px 4px -4px grey;
  background-size: cover;

  position: sticky;
}

.sectionLogo {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
}

@media all and (min-width: 768px) {
  .sectionLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.containerLogo::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
